# phpstan.neon
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon # Recommended for strictness
    - vendor/nunomaduro/larastan/extension.neon # Necessary for Laravel/Eloquent magic

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false

    paths:
        - src
        - tests

    # Ignore specific errors in third-party files or known Laravel magic you can't hint.
    ignoreErrors:
        # PestPHP `$this` inside closures
        - '#Undefined variable: \$this#'
        - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to an undefined method Illuminate\\Database\\ConnectionInterface::getDriverName#'